[Unit]
Description=RPi Control GUI
After=graphical-session.target network.target

[Service]
Type=simple
User=sigma
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
# Activate the virtual environment before running the script
ExecStart=/bin/bash -c 'source /home/sigma/projects/RPi_control/venv/bin/activate && python /home/sigma/projects/RPi_control/rpi_control.py'
WorkingDirectory=/home/sigma/projects/RPi_control
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
